<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="As estacas helicoidais Helica são uma solução de fundações eficiente, rápida e sustentável. Aplicáveis em diversos contextos, como fundação para habitação, painéis fotovoltaicos, antenas de grandes dimensões, passadiços, ancoragem de cabos, entre outros. "/>
    <meta name="DC.title" content="Fundações com estacas helicoidais - Helica">

    <title> Home | Fundações Helica</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/blog.css" rel="stylesheet">

</head>

<body>
    <nav class="main-header">
        <div class="container custom-container">
            <!-- <div class="row"> -->
            <a class="logo-item" href="/">
                <img src="/img/helica_principal.svg" alt="Fundações">
                <!-- <img src="/img/helica-azul-logo.svg"> -->
            </a>
            <div class="mobile-icon-nav hamburger-icon hamburger-icon-outer">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header--right">
                <a class="menu-item" href="/blog">
                    Blog
                </a>
                <a class="menu-item" href="/sustainability">
                    Sustentabilidade
                </a>
                <a class="menu-btn" href="#footer">
                    Contactos
                </a>
            </div>
            <!-- </div> -->
        </div>
    </nav>
    <div class="mobile-menu">
        <div class="container">
            <div class="mobile-menu-header">
                <div class="mobile-icon-nav open hamburger-icon hamburger-icon-inner">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

        <div class="mobile-menu-inner-nav">
            <a class="mobile-menu-nav-link" href="/">Helica</a>
            <a class="mobile-menu-nav-link" href="/sustainability">Sustentabilidade</a>
            <a class="mobile-menu-nav-link" href="/contacts">Contactos</a>
        </div>
        <div class="mobile-menu-footer">
            Todos os direitos reservados ® Helica by Slefty - 2022
        </div>
    </div>
    <section class="hero-section" id="hero-section">
        <div class="container">
            <img src="img/House_01.png">
            <div class="card">
                <div class="card-body">
                    Como posso colocar Helica na minha casa?
                </div>
            </div>
        </div>
    
    <footer id="footer">
        <div class="container">
            <div class="footer-upper">
                <div class="row">
                    <div class="col-3">
                        <div class="fu-list-wrapper">
                            <h6>Escritório</h6>
                            <a class="fu-list-item">Edifício Templar Office</a>
                            <a class="fu-list-item">R. de João Carlos Everard Nº3, 1ºD<br>
                                2300-561 Tomar<br>
                                Portugal
                            </a>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="fu-list-wrapper">
                            <h6>Armazém</h6>
                            <a class="fu-list-item">Zona industrial de Tomar</a>
                        </div>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-3">
                        <div class="fu-social-wrapper">
                            <div class="fu-contact-wrapper">
                                <a class="contact-menu" href="tel:+351249094023">
                                    <i class="phone-icon"></i>
                                    <span>+351 249 094 023</span>
                                </a>
                                <a class="contact-menu" href="mailto:info@helica.pt">
                                    <i class="mail-icon"></i>
                                    <span>info@helica.pt</span>
                                </a>
                            </div>
                            <a class="fu-social-item" href="https://www.linkedin.com/company/helicaprofile/"
                                target="_blank">LinkedIn</a>
                            <a class="fu-social-item" href="https://www.instagram.com/helica.portugal"
                                target="_blank">Instagram</a>
                            <a class="fu-social-item"
                                href="https://www.youtube.com/channel/UCR121SObFf5X96PeOwR4ByA/featured"
                                target="_blank">Youtube</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-mobile">
                <p class="fm-text">Tens questões sobre a Helica?</p>
                <a class="fm-btn" href="/contacts">Fala connosco</a>
            </div>
        </div>
        <div class="footer-lower">
            <div class="container">
                <p>Todos os direitos reservados ® Helica - 2022</p>
            </div>

        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script> -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- <script src="/plugins/noframework.waypoints.js"></script> -->
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js?r=5426"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>
    <script src="/js/app.js"></script>

</body>

</html>