<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Contactos | Helica</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
    <nav class="main-header">
        <div class="container custom-container">
            <!-- <div class="row"> -->
            <a class="logo-item" href="/">
                <img src="/img/helica_principal.svg">
            </a>
            <div class="mobile-icon-nav hamburger-icon hamburger-icon-outer">
                <span></span>
                <span></span>
                <span></span>
              </div>
            <div class="header--right">
                <a class="menu-item" href="sustainability.html">
                    Sustentabilidade
                </a>
                <a class="menu-btn">
                    Contactos
                </a>
            </div>
            <!-- </div> -->
        </div>
    </nav>
    <div class="mobile-menu">
        <div class="container">
            <div class="mobile-menu-header">
                <div class="mobile-icon-nav open hamburger-icon hamburger-icon-inner">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
            </div>
        </div>
        
        <div class="mobile-menu-inner-nav">
            <a class="mobile-menu-nav-link" href="/">Helica</a>
            <a class="mobile-menu-nav-link" href="/sustainability">Sustentabilidade</a>
            <a class="mobile-menu-nav-link" href="/contacts">Contactos</a>
        </div>
        <div class="mobile-menu-footer">
            Todos os direitos reservados ® Helica - 2022
        </div>
    </div>
    <section class="content-section">
        <div class="content-item">
            <div class="ci-section-heading">
                <h5 class="ci-heading-text">Escritório</h5>
            </div>
            <div class="ci-inner-section">
                <p class="cis-text">Edifício Templar Office</p>
                <p class="cis-text">R. de João Carlos Everard Nº3, 1ºD<br>
                    2300-561 Tomar<br>
                    Portugal</p>
            </div>
        </div>
        <div class="content-item">
            <div class="ci-section-heading">
                <h5 class="ci-heading-text">Armazém</h5>
            </div>
            <div class="ci-inner-section">
                <p class="cis-text">Zona industrial de Tomar</p>
            </div>
        </div>
        <div class="ci-contact-wrapper">
            <a class="ci-contact-item" href="tel:+351249091797">
                <i class="blue-phone-icon"></i>
                <span>+351 249 094 023</span>
            </a>
            <a class="ci-contact-item" href="mailto:info@helica.pt">
                <i class="blue-mail-icon"></i>
                <span>info@helica.pt</span>
            </a>
        </div>
        <div class="ci-social-wrapper">
            <a class="ci-social-link-item" href="https://www.linkedin.com/company/helicaprofile/" target="_blank">LinkedIn</a>
            <a class="ci-social-link-item" href="https://www.instagram.com/helica.portugal" target="_blank">Instagram</a>
            <a class="ci-social-link-item" href="https://www.youtube.com/channel/UCR121SObFf5X96PeOwR4ByA/featured" target="_blank">Youtube</a>
        </div>
    </section>
    <div class="loader">
        <img src="/img/helica-icons.gif" />
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js?r=5426"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>
