<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Helica é a solução de suporte sustentável para a sua estrutura."/>
    <meta name="DC.title" content="Helica - Suporta em harmonia com o ambiente">

    <title> Home | Helica</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
    <nav class="main-header">
        <div class="container custom-container">
            <!-- <div class="row"> -->
            <a class="logo-item" href="/">
                <img src="/img/helica_principal.svg">
                <!-- <img src="/img/helica-azul-logo.svg"> -->
            </a>
            <div class="mobile-icon-nav hamburger-icon hamburger-icon-outer">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header--right">
                <a class="menu-item" href="/sustainability">
                    Sustentabilidade
                </a>
                <a class="menu-btn" href="#footer">
                    Contactos
                </a>
            </div>
            <!-- </div> -->
        </div>
    </nav>
    <div class="mobile-menu">
        <div class="container">
            <div class="mobile-menu-header">
                <div class="mobile-icon-nav open hamburger-icon hamburger-icon-inner">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

        <div class="mobile-menu-inner-nav">
            <a class="mobile-menu-nav-link" href="/">Helica</a>
            <a class="mobile-menu-nav-link" href="/sustainability">Sustentabilidade</a>
            <a class="mobile-menu-nav-link" href="/contacts">Contactos</a>
        </div>
        <div class="mobile-menu-footer">
            Todos os direitos reservados ® Helica by Slefty - 2022
        </div>
    </div>
    <section class="hero-section" id="hero-section">
        <div class="container">
            <div class="hero-content">
                <h3 class=" revealUp">Suportar em harmonia com o ambiente</h3>
                <h5 class="revealUp">Conhece a solução alternativa às fundações tradicionais. <br> A Helica permite o suporte de variadas estruturas de forma fácil, rápida e ecológica.</h5>
                <!-- <a class="hero-content-btn d-hide-mobile" href="#footer">Fala connosco</a>
                <a class="hero-content-btn d-show-mobile" href="/contacts">Fala connosco</a> -->
            </div>
            <div class="hero-img-wrapper">
                <canvas id="canvas1"></canvas>
                <!-- <img src="/img/hero-img.png" /> -->
            </div>
        </div>
    </section>
    <section class="desc-section" id="desc-section">
        <h4 class=" revealUp">A Helica é a solução de suporte sustentável para a sua estrutura</h4>
    </section>
    <section class="benefits-section" id="benefits-section">
        <div class="container">
            <div class="bs-seaction-heading">
                <h5 class="bs-heading-text revealUp">Vantagens</h5>
            </div>
            <div class="bs-vantagens-wrapper">
                <div class="bs-vantage-item" data-aos="fade-in" data-aos-duration="500">
                    <div class="bs-vantage-head" data-aos="fade-in" data-aos-duration="700">
                        <i class="icon clock-icon"></i>
                        <span>Rapidez</span>
                    </div>
                    <div data-aos="fade-in" class="bs-vantage-desc" data-aos-duration="800">
                        As propriedades da Helica e método de aplicação permitem que tenha a solução de fundações
                        executada em poucos dias.
                    </div>
                </div>
                <div class="bs-vantage-item" data-aos="fade-in" data-aos-duration="500">
                    <div class="bs-vantage-head" data-aos="fade-in" data-aos-duration="700">
                        <i class="icon wrench-icon"></i>
                        <span>Apoio técnico</span>
                    </div>
                    <div class="bs-vantage-desc" data-aos="fade-in" data-aos-duration="800">
                        O nosso gabinete técnico dá-te todo o apoio na definição de solução, de uma forma clara e
                        expedita.
                    </div>
                </div>
                <div class="bs-vantage-item" data-aos="fade-in" data-aos-duration="500">
                    <div class="bs-vantage-head" data-aos="fade-in" data-aos-duration="700">
                        <i class="icon star-icon"></i>
                        <span>Simplicidade</span>
                    </div>
                    <div class="bs-vantage-desc" data-aos="fade-in" data-aos-duration="800">
                        Dispensa maquinaria pesada e grandes disrupções de solo ao utilizar Helica. Uma aplicação fácil
                        e sem esforço.
                    </div>
                </div>
                <div class="bs-vantage-item" data-aos="fade-in" data-aos-duration="500">
                    <div class="bs-vantage-head" data-aos="fade-in" data-aos-duration="700">
                        <i class="icon binoculars-icon"></i>
                        <span>Inovação</span>
                    </div>
                    <div class="bs-vantage-desc" data-aos="fade-in" data-aos-duration="800">
                        As propriedades da Helica e método de aplicação permitem que tenhas a solução de fundações
                        executada em poucos dias.
                    </div>
                </div>
                <div class="bs-vantage-item" data-aos="fade-in" data-aos-duration="500">
                    <div class="bs-vantage-head" data-aos="fade-in" data-aos-duration="700">
                        <i class="icon barbell-icon"></i>
                        <span>Resistência</span>
                    </div>
                    <div class="bs-vantage-desc" data-aos="fade-in" data-aos-duration="800">
                        Aliamos uma concepção com materiais de alta resistência, proteção duradoura e um acompanhamento
                        atento da instalação.
                    </div>
                </div>
                <div class="bs-vantage-item" data-aos="fade-in" data-aos-duration="500">
                    <div class="bs-vantage-head" data-aos="fade-in" data-aos-duration="700">
                        <i class="icon tree-icon"></i>
                        <span>Sustentabilidade</span>
                    </div>
                    <div class="bs-vantage-desc" data-aos="fade-in" data-aos-duration="800">
                        As Helica são compostas por um dos materiais mais sustentáveis na construção, são removíveis,
                        reutilizáveis e recicláveis.
                        <a class="bs-vantage-inner-link" href="/sustainability">
                            Ver mais
                            <i class="link-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="services-section" id="">
        <div class="bs-seaction-heading">
            <h5 class="bs-heading-text revealUp">A Helica é a solução ideal para</h5>
        </div>
        <div class="services-wrapper">
            <div class="m-container d-flex container-mobile w-100" data-aos="fade-in">
                <div class="nav flex-column nav-pills me-3" id="sw_pill-container" aria-orientation="vertical">
                    <a href="#v-pills-zero" class="nav-link service-list-item" id="v-pills-zero-tab"
                        data-bs-toggle="pill" data-bs-target="#v-pills-zero" type="button" role="tab"
                        aria-controls="v-pills-zero" aria-selected="true" onmouseover="imgShow1()" onmouseleave="imgHide1()">
                        <span>Habitação</span>
                        <i class="down-arrow-icon"></i>
                    </a>
                    <a href="#v-pills-first" class="nav-link service-list-item" id="v-pills-first-tab"
                        data-bs-toggle="pill" data-bs-target="#v-pills-first" type="button" role="tab"
                        aria-controls="v-pills-first" aria-selected="false" onmouseover="imgShow2()" onmouseleave="imgHide2()">
                        <span>Postes e painéis de sinalização</span>
                        <i class="down-arrow-icon"></i>
                    </a>
                    <a href="#v-pills-second" class="nav-link service-list-item" id="v-pills-second-tab"
                        data-bs-toggle="pill" data-bs-target="#v-pills-second" type="button" role="tab"
                        aria-controls="v-pills-second" aria-selected="false" onmouseover="imgShow3()" onmouseleave="imgHide3()">
                        <span>Parques fotovoltaicos</span>
                        <i class="down-arrow-icon"></i>
                    </a>
                    <a href="#v-pills-third" class="nav-link service-list-item" id="v-pills-third-tab"
                        data-bs-toggle="pill" data-bs-target="#v-pills-third" type="button" role="tab"
                        aria-controls="v-pills-third" aria-selected="false" onmouseover="imgShow4()" onmouseleave="imgHide4()">
                        <span>Passadiços e pontes pedonais</span>
                        <i class="down-arrow-icon"></i>
                    </a>
                    <a href="#v-pills-fourth" class="nav-link service-list-item" id="v-pills-fourth-tab"
                        data-bs-toggle="pill" data-bs-target="#v-pills-fourth" type="button" role="tab"
                        aria-controls="v-pills-fourth" aria-selected="false" onmouseover="imgShow5()" onmouseleave="imgHide5()">
                        <span>Ancoragem de cabos</span>
                        <i class="down-arrow-icon"></i>
                    </a>
                    <a href="#v-pills-fifth" class="nav-link service-list-item" id="v-pills-fifth-tab"
                        data-bs-toggle="pill" data-bs-target="#v-pills-fifth" type="button" role="tab"
                        aria-controls="v-pills-fifth" aria-selected="false" onmouseover="imgShow6()" onmouseleave="imgHide6()">
                        <span>Reforços de fundações de betão</span>
                        <i class="down-arrow-icon"></i>
                    </a>
                </div>
                <div class="right-image-wrapper">
                    <div class="tab-pane service-image-container" id="v-pills-zero" role="tabpanel"
                        aria-labelledby="v-pills-zero-tab">
                        <img src="/img/casa.jpg" />
                    </div>
                    <div class="tab-pane service-image-container" id="v-pills-first" role="tabpanel"
                        aria-labelledby="v-pills-first-tab">
                        <img src="/img/postes.jpg" />
                    </div>
                    <div class="tab-pane service-image-container" id="v-pills-second" role="tabpanel"
                        aria-labelledby="v-pills-second-tab">
                        <img src="/img/fotovoltaico.jpg" />
                    </div>
                    <div class="tab-pane service-image-container" id="v-pills-third" role="tabpanel"
                        aria-labelledby="v-pills-third-tab">
                        <img src="/img/passadiço.jpg" />
                    </div>
                    <div class="tab-pane service-image-container" id="v-pills-fourth" role="tabpanel"
                        aria-labelledby="v-pills-fourth-tab">
                        <img src="/img/cabos.jpg" />
                    </div>
                    <div class="tab-pane service-image-container" id="v-pills-fifth" role="tabpanel"
                        aria-labelledby="v-pills-fifth-tab">
                        <img src="/img/betao.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="loader">
        <img src="/img/helica-icons.gif" />
    </div>
    <footer id="footer">
        <div class="container">
            <div class="footer-upper">
                <div class="row">
                    <div class="col-3">
                        <div class="fu-list-wrapper">
                            <h6>Escritório</h6>
                            <a class="fu-list-item">Edifício Templar Office</a>
                            <a class="fu-list-item">R. de João Carlos Everard Nº3, 1ºD<br>
                                2300-561 Tomar<br>
                                Portugal
                            </a>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="fu-list-wrapper">
                            <h6>Armazém</h6>
                            <a class="fu-list-item">Zona industrial de Tomar</a>
                        </div>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-3">
                        <div class="fu-social-wrapper">
                            <div class="fu-contact-wrapper">
                                <a class="contact-menu" href="tel:+351249091797">
                                    <i class="phone-icon"></i>
                                    <span>+351 249 091 797</span>
                                </a>
                                <a class="contact-menu" href="mailto:info@helica.pt">
                                    <i class="mail-icon"></i>
                                    <span>info@helica.pt</span>
                                </a>
                            </div>
                            <a class="fu-social-item" href="https://www.linkedin.com/company/helicaprofile/"
                                target="_blank">LinkedIn</a>
                            <a class="fu-social-item" href="https://www.instagram.com/helica.portugal"
                                target="_blank">Instagram</a>
                            <a class="fu-social-item"
                                href="https://www.youtube.com/channel/UCR121SObFf5X96PeOwR4ByA/featured"
                                target="_blank">Youtube</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-mobile">
                <p class="fm-text">Tens questões sobre a Helica?</p>
                <a class="fm-btn" href="/contacts">Fala connosco</a>
            </div>
        </div>
        <div class="footer-lower">
            <div class="container">
                <p>Todos os direitos reservados ® Helica - 2022</p>
            </div>

        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script> -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- <script src="/plugins/noframework.waypoints.js"></script> -->
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js?r=5426"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(".menu-btn,.hero-content-btn.d-hide-mobile,.service-list-item").on("click", function (e) {
            var i = $(this.getAttribute("href"));
            i.length &&
                (e.preventDefault(),
                    $("html, body").animate(
                        {
                            scrollTop: i.offset().top - 60,
                        },
                        100
                    ));
        });
    </script>

    <script>
        function imgShow1() {
            document.getElementById('v-pills-zero').style.display = "block";
        }

        function imgHide1() {
            document.getElementById('v-pills-zero').style.display = "none";
        }

        function imgShow2() {
            console.log("mouse inn")
            document.getElementById('v-pills-first').style.display = "block";
        }

        function imgHide2() {
            console.log("mouse out")
            document.getElementById('v-pills-first').style.display = "none";
        }

        function imgShow3() {
            document.getElementById('v-pills-second').style.display = "block";
        }

        function imgHide3() {
            document.getElementById('v-pills-second').style.display = "none";
        }

        function imgShow4() {
            document.getElementById('v-pills-third').style.display = "block";
        }

        function imgHide4() {
            document.getElementById('v-pills-third').style.display = "none";
        }
        function imgShow5() {
            document.getElementById('v-pills-fourth').style.display = "block";
        }

        function imgHide5() {
            document.getElementById('v-pills-fourth').style.display = "none";
        }
        function imgShow6() {
            document.getElementById('v-pills-fifth').style.display = "block";
        }

        function imgHide6() {
            document.getElementById('v-pills-fifth').style.display = "none";
        }
    </script>
    <script type="module">

        import * as THREE from "https://cdn.jsdelivr.net/npm/three@0.117.1/build/three.module.js";
        import { OrbitControls } from "https://cdn.jsdelivr.net/npm/three@0.117.1/examples/jsm/controls/OrbitControls.js";
        import { FBXLoader } from "https://cdn.jsdelivr.net/npm/three@0.117.1/examples/jsm/loaders/FBXLoader.js";
        window.FBXLoader = FBXLoader;
        const thv = function (canvasRef, objectUrl) {
            // canvasRef.clientWidth = 600;
            // canvasRef.clientHeight = 850;

            var camera, scene, renderer, meshs, mesh, material, mixer, stats, plane, planeBuffer, controls, width, height, hover, clock = new THREE.Clock();
            let mouseX = 0, mouseY = 0;
            var check = false;
            let windowHalfX = 910 / 2;
            let windowHalfY = 750 / 2;

            // let windowHalfX = window.innerWidth / 2;
            // let windowHalfY = window.innerHeight / 2;
            init();
            animate();

            function init() {
                width = 910;
                height = 750;
                // Renderer.
                renderer = new THREE.WebGLRenderer({
                    antialias: true,
                    shadow: true,
                    clearColor: true,
                    canvas: canvasRef
                });
                renderer.setSize(width, height);
                render.castShadow = true;
                renderer.shadowMap.enabled = true;
                renderer.shadowMap.type = THREE.PCFSoftShadowMap;
                renderer.setClearColor("#FFF");

                renderer.setPixelRatio(window.devicePixelRatio);

                renderer.gammaFactor = 2.2;
                renderer.gammaOutput = true;

                renderer.physicallyCorrectLights = true;


                // Create camera.
                camera = new THREE.PerspectiveCamera(90, width / height, 0.1, 10000);

                scene = new THREE.Scene();

                const light1 = new THREE.PointLight(0xffffff, 1, 100);
                light1.position.set(1, 0, 0);
                scene.add(light1);

                //Create ambient light and add to scene.
                const color = 0x606060;
                const intensity = 10;
                const light2 = new THREE.AmbientLight(color, intensity);
                light2.castShadow = false;
                scene.add(light2);



                const directionalLight = new THREE.DirectionalLight(0xffffff, 10);
                directionalLight.position.set(0.25, 1, 0);
                directionalLight.castShadow = true;
                directionalLight.receiveShadow = false;
                directionalLight.shadowCameraVisible = true;
                scene.add(directionalLight);

                // var light = new THREE.DirectionalLight(0x000000);
                // light.position.set(0, 2, 2);
                // light.target.position.set(0, 0, 0);
                // light.castShadow = true;
                // light.shadowDarkness = 0.5;
                // light.shadowCameraVisible = true; // only for debugging
                // // these six values define the boundaries of the yellow box seen above
                // light.shadowCameraNear = 2;
                // light.shadowCameraFar = 5;
                // light.shadowCameraLeft = -0.5;
                // light.shadowCameraRight = 0.5;
                // light.shadowCameraTop = 0.5;
                // light.shadowCameraBottom = -0.5;
                // scene.add(light);

                // scene.add(new THREE.CameraHelper(directionalLight.shadow.camera))


                canvas1.addEventListener('mousemove', onDocumentMouseMove);
                canvas1.addEventListener('mouseleave', onDocumentMouseLeave);

                window.addEventListener('resize', onWindowResize, false);

                addModalToScene(objectUrl)
            }

            function onDocumentMouseMove(event) {

                check = true;

                var rect = event.target.getBoundingClientRect();
                var x = event.clientX - rect.left; //x position within the element.
                var y = event.clientY - rect.top;
                mouseX = (x - windowHalfX) * 0.02;
                mouseY = (y - windowHalfY);

            }
            function onDocumentMouseLeave(evnt) {
                // console.log("leave");
                check = false;

            }

            let scope = {};
            this.scope = scope;

            function addModalToScene(objectUrl) {

                let fbxLoader = new FBXLoader();

                fbxLoader.load(
                    objectUrl, //1
                    object => {
                        meshs = object;
                        mesh = object;
                        meshs.rotation.x = -120;
                        mesh.rotation.y = -150;
                        meshs.scale.set(1.1, 1.1, 1.1);
                        mesh.scale.set(1.1, 1.1, 1.1);
                        // meshs.rotation.y = 180;

                        scene.add(meshs, mesh);
                        camera.position.x = 23;



                    },
                    xhr => {
                        //          console.log((xhr.loaded / xhr.total) * 100 + "% loaded");
                    },
                    // called when loading has errors
                    error => {
                        console.log("An error happened" + error);
                    }
                );
            }

            function animate() {
                requestAnimationFrame(animate);
                if (mesh) {
                    mesh.position.y = Math.sin(Date.now() * 0.005) * Math.PI * 0.1;
                }

                render();

            }
            function render() {

                const time = performance.now() * 0.005;
                if (meshs != undefined) {


                    meshs.rotation.y = time * 0.5;


                    if (check == true) {

                        camera.position.z += (mouseX - camera.position.z) * 0.05;



                    }
                }


                camera.lookAt(scene.position);
                renderer.render(scene, camera);
                // controls.update();

            }

            function onWindowResize() {
                windowHalfX = canvas1.width / 2;
                windowHalfY = canvas1.height / 2;
                width = canvasRef.clientWidth;
                height = canvasRef.clientHeight;
                camera.aspect = width / height;
                camera.updateProjectionMatrix();
                renderer.setSize(width, height);
            }

        };

        var canvas1 = document.getElementById('canvas1');

        window._thv1 = new thv(canvas1, "helica.fbx");

    </script>
</body>

</html>
