<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustentabilidade | Helica</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
    <nav class="main-header">
        <div class="container custom-container">
            <!-- <div class="row"> -->
            <a class="logo-item" href="/">
                <img src="/img/helica_principal.svg">
                <!-- <img src="/img/helica-azul-logo.svg"> -->
            </a>
            <div class="mobile-icon-nav hamburger-icon hamburger-icon-outer">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header--right">
                <a class="menu-item" href="/sustainability">
                    Sustentabilidade
                </a>
                <a class="menu-btn" href="#footer">
                    Contactos
                </a>
            </div>
            <!-- </div> -->
        </div>
    </nav>
    <div class="mobile-menu">
        <div class="container">
            <div class="mobile-menu-header">
                <div class="mobile-icon-nav open hamburger-icon hamburger-icon-inner">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

        <div class="mobile-menu-inner-nav">
            <a class="mobile-menu-nav-link" href="/">Helica</a>
            <a class="mobile-menu-nav-link" href="/sustainability">Sustentabilidade</a>
            <a class="mobile-menu-nav-link" href="/contacts">Contactos</a>
        </div>
        <div class="mobile-menu-footer">
            Todos os direitos reservados ® Helica by Slefty - 2022
        </div>
    </div>
    <section class="hero-section green-hero-section">
        <div class="container">
            <div class="hero-content green-hero-content">
                <h3 class="revealUp">Uma Helica instalada é uma árvore plantada</h3>
            </div>

        </div>
        <div class="hero-img-wrapper green-hero-img-wrapper" id="green-hero-img-wrapper">
            <!-- <img src="/img/sustain-hero.png" /> -->
        </div>
    </section>

    <section class="mission-section" id="mission-section">
        <div class="container">
            <div class="om-heading-section">
                <h6 class="om-heading-text revealUp">A nossa missão</h6>
                <p data-aos="fade-in" class="om-heading-desc">A Helica distingue-se das alternativas tradicionais de
                    fundações ao ser uma
                    solução verdadeiramente sustentável por diversos motivos.</p>
            </div>
            <div class="mission-card-wrapper">
                <div class="om-card-item" data-aos="fade-in" data-aos-duration="700">
                    <i class="card-icon utility-icon" data-aos="fade-in" data-aos-duration="900"></i>
                    <span class="om-card-desc" data-aos="fade-in" data-aos-duration="1200">Materiais utilizados</span>
                </div>
                <div class="om-card-item" data-aos="fade-in" data-aos-duration="700">
                    <i class="card-icon waves-icon" data-aos="fade-in" data-aos-duration="900"></i>
                    <span class="om-card-desc" data-aos="fade-in" data-aos-duration="1200">Fraca disrupção do
                        solo</span>
                </div>
                <div class="om-card-item" data-aos="fade-in" data-aos-duration="700">
                    <i class="card-icon drop-icon" data-aos="fade-in" data-aos-duration="900"></i>
                    <span class="om-card-desc" data-aos="fade-in" data-aos-duration="1200">Inexistência de
                        detritos</span>
                </div>
                <div class="om-card-item" data-aos="fade-in" data-aos-duration="700">
                    <i class="card-icon recycle-icon" data-aos="fade-in" data-aos-duration="900"></i>
                    <span class="om-card-desc" data-aos="fade-in" data-aos-duration="1200">Possibilidade de reutilização
                        e reciclagem</span>
                </div>
            </div>
        </div>
    </section>

    <section class="carbon-neutral-section" id="carbon-neutral-section">
        <div class="container">
            <div class="section-head">
                <h5 class="cn-heading-text revealUp">Todas as nossas obras são sustentáveis.</h5>
                <h4 data-aos="fade-in" class="cn-heading-desc">O que é que isso significa?</h4>
                <p data-aos="fade-in" class="cn-desc">Calculamos a libertação de CO2 de cada obra, de acordo com as suas
                    características e
                    comprometemo-nos a plantar o número de árvores necessárias para anular esse carbono.</p>
            </div>
            <div class="cn-number-section-wrapper" id="cn-number-section-wrapper">
                {{!-- <div class="cn-number-card" data-aos="fade-in" data-aos-duration="700">
                    <span class="card-desc-text" data-aos="fade-in" data-aos-duration="800">Já instalamos</span>
                    <h4 class="number-on-card" data-aos="fade-in" data-aos-duration="900">32</h4>
                    <span class="card-desc-text" data-aos="fade-in" data-aos-duration="1000">Helica</span>
                </div> --}}
                <div class="cn-number-card" data-aos="fade-in" data-aos-duration="700">
                    <span class="card-desc-text" data-aos="fade-in" data-aos-duration="800">Já plantamos</span>
                    <h4 class="number-on-card" data-aos="fade-in" data-aos-duration="900">32</h4>
                    <span class="card-desc-text" data-aos="fade-in" data-aos-duration="1000">árvores</span>
                </div>
            </div>
        </div>


    </section>
    <section class="green-animation-section" id="green-animation-section">

    </section>
    <section class="movement-section" id="movement-section">
        <div class="container">
            <div class="ms-heading-section">
                <h6 class="ms-heading-text revealUp">Queres fazer parte deste movimento?</h6>
            </div>
            <div class="movement-event-card" data-aos="fade-in" data-aos-duration="700">
                <div class="event-banner">
                    <img src="/img/event-banner.png" />
                </div>
                <div class="event-details">
                    <span class="event-name">1ª Plantação de árvores</span>
                    <span class="event-calender-data">
                        <i class="calender-icon"></i>
                        <span class="date-text">Data a definir</span>
                    </span>
                    <p class="event-desc">Junta-te a nós no nosso primeiro evento de plantação comunitário! Anunciaremos a data em breve.</p>
                    <a class="add-to-calender-btn" target="_blank" href="https://www.instagram.com/helica.portugal/">Sabe mais aqui!</a>
                    {{!-- <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MmZvZmlsNzY0cGVmY2RzZ280aGZlbGUxdmwgYW5hLmZhcmlhQHNsZWZ0eS5jb20&amp;tmsrc=ana.faria%40slefty.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_pt-PT.gif"></a> --}}
                </div>
            </div>
        </div>
    </section>
    <div class="loader">
        <img src="/img/helica-icons.gif" />
    </div>

    <footer id="footer">
        <div class="container">
            <div class="footer-upper">
                <div class="row">
                    <div class="col-3">
                        <div class="fu-list-wrapper">
                            <h6>Escritório</h6>
                            <a class="fu-list-item">Edifício Templar Office</a>
                            <a class="fu-list-item">R. de João Carlos Everard Nº3, 1ºD<br>
                                2300-561 Tomar<br>
                                Portugal
                            </a>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="fu-list-wrapper">
                            <h6>Armazém</h6>
                            <a class="fu-list-item">Zona industrial de Tomar</a>
                        </div>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-3">
                        <div class="fu-social-wrapper">
                            <div class="fu-contact-wrapper">
                                <a class="contact-menu" href="tel:+351249094023">
                                    <i class="phone-icon"></i>
                                    <span>+351 249 094 023</span>
                                </a>
                                <a class="contact-menu" href="mailto:info@helica.pt">
                                    <i class="mail-icon"></i>
                                    <span>info@helica.pt</span>
                                </a>
                            </div>
                            <a class="fu-social-item"
                                href="https://www.linkedin.com/company/helicaprofile/" target="_blank">LinkedIn</a>
                            <a class="fu-social-item" href="https://www.instagram.com/helica.portugal" target="_blank">Instagram</a>
                            <a class="fu-social-item"
                                href="https://www.youtube.com/channel/UCR121SObFf5X96PeOwR4ByA/featured" target="_blank">Youtube</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-mobile">
                <p class="fm-text">Tens questões sobre a Helica?</p>
                <a class="fm-btn" href="/contacts">Fala connosco</a>
            </div>
        </div>
        <div class="footer-lower">
            <div class="container">
                <p>Todos os direitos reservados ® Helica - 2022</p>
            </div>

        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script> -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/plugins/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js?r=5426"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>
    <script src="/js/app.js"></script>
    <script>

        $(".menu-btn,.hero-content-btn.d-hide-mobile").on("click", function (e) {
            var i = $(this.getAttribute("href"));
            i.length &&
                (e.preventDefault(),
                    $("html, body").animate(
                        {
                            scrollTop: i.offset().top - 60,
                        },
                        600
                    ));
        });

        $(document).ready(function () {
            var animation = bodymovin.loadAnimation({
                // animationData: { /* ... */ },
                container: document.getElementById('green-hero-img-wrapper'), // required
                path: 'data-hero.json', // required
                renderer: 'svg', // required
                loop: false, // optional
                autoplay: true, // optional
            });
        })

        {{!-- var animationOne = bodymovin.loadAnimation({
            // animationData: { /* ... */ },
            container: document.getElementById('green-animation-section'), // required
            path: '/data.json', // required
            renderer: 'svg', // required
            loop: true, // optional
            autoplay: true, // optional
        }); --}}

        $(".number-on-card").hide();
        var cardWayPoint = new Waypoint({
            element: document.getElementById('cn-number-section-wrapper'),
            handler: function () {
                $(".number-on-card").show();
                $('.number-on-card').each(function () {
                    $(this).prop('Counter', 0).animate({
                        Counter: $(this).text()
                    }, {
                        duration: 2000,
                        easing: 'swing',
                        step: function (now) {
                            $(this).text(Math.ceil(now));
                        }
                    });
                });
                cardWayPoint.disable()
            },
            offset: '80%'
        });
        
        var animationPoint = new Waypoint({
        element: document.getElementById('green-animation-section'),
        handler: function () {
            var animationOne = bodymovin.loadAnimation({
                // animationData: { /* ... */ },
                container: document.getElementById('green-animation-section'), // required
                path: 'data.json', // required
                renderer: 'svg', // required
                loop: true, // optional
                autoplay: true, // optional
            });
            animationPoint.disable()
        },
        offset: '60%'
        });



    </script>
</body>

</html>