img {
    width: 30vw;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 40px;
}

.card {
    width: 25vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

    border-radius: 20px;
    border-style: none;

    position: relative;
    margin-top: -75px;
}

.card-body {
    font-weight: 500;
    font-size: 16px;
    color: #00033a;;
    line-height: 32px;
    letter-spacing: -0.02em;
}

.container {
    align-content: center;
}